aiohttp==3.7.4.post0
anyio==3.1.0
appnope==0.1.2
APScheduler==3.6.3
argon2-cffi==20.1.0
astroid==2.5
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.5
awscli==1.19.29
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
botocore==1.20.29
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
decorator==5.0.9
defusedxml==0.7.1
docutils==0.15.2
entrypoints==0.3
fastapi==0.65.1
finnhub-python==2.4.0
greenlet==1.0.0
h11==0.12.0
httptools==0.1.1
idna==2.10
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
lazy-object-proxy==1.5.2
llvmlite==0.34.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
multidict==5.1.0
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numba==0.51.2
numpy==1.20.0
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.11.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.8.2
Pygments==2.9.0
pylint==2.7.1
pyparsing==2.4.7
PyQt3D==5.15.5
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtChart==5.15.5
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.5
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.16.0
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
QScintilla==2.13.1
requests==2.25.1
rsa==4.5
s3transfer==0.3.4
Send2Trash==1.5.0
sniffio==1.2.0
SQLAlchemy==1.4.3
starlette==0.14.2
TBB==0.2
terminado==0.10.0
testpath==0.5.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.1
websockets==8.1
wrapt==1.12.1
yarl==1.6.3
